<br>
<div class="container-fluid">
  <div class="jumbotron" id="j_display">
    <div id="j_text"><h1>ALPHA BLOG!</h1></div>
    <p>...</p>
    <p> <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</div>
<br>

<div class="container-fluid text-center">
  <h3 class="margin">This is Homepage</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
      <img src="/images/img1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
      <img src="/images/img2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
      <img src="/images/img3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<br><br><br><br>